<h2>Page: 1</h2>

<h3>Internal link</h3>
<div class="example-container">
  <button ngxBackButton href="/home/second">Second page</button>
  <p><strong>href="/home/second"</strong>: Go to the second page (sibling)</p>
</div>

<div class="example-container">
  <button ngxBackButton href="#scrollToMe">ScrollTo</button>
  <p><strong>href="#scrollToMe"</strong>Scroll to the title</p>
</div>

<h3>External link</h3>
<h4>DefaultTargetAttr: _blank</h4>
<div class="example-container">
  <button ngxBackButton href="https://github.com/rbalet/ngx-href">Open github page</button>
  <p><strong>href="https://..."</strong>: Open the new page in a new page</p>
</div>
<h4>target="_self"</h4>
<div class="example-container">
  <button ngxBackButton href="https://github.com/rbalet/ngx-href" target="_self">
    Open github page
  </button>
  <p>
    <strong>href="https://..."</strong> & <strong>target="_self"</strong>: Open the new page in the
    current page
  </p>
</div>

<h3>avoidSpam</h3>
<div class="example-container">
  <a #aValue href="tel:+41791112233"> tel:+41791112233</a>
  <p>
    <strong>href="tel:..."</strong>: Custom the href till hovering - Look at the DOM with your dev
    tool
  </p>
</div>

<div class="example-container">
  <a #aValue href="mailto:foobar@outlook.com">mailto:foobar&#64;outlook.com</a>
  <p>
    <strong>href="mailto:..."</strong>: Custom the href till hovering - Look at the DOM with your
    dev tool
  </p>
</div>

<div class="empty-container"></div>

<h3 id="scrollToMe">Scroll To me</h3>
<p>With a `defaultOffset: 100`</p>

<div class="empty-container"></div>
